doctype
html
  head
    title #{title} - Show Me The Code
    link(rel='stylesheet', href='/stylesheets/toastr.min.css')    
    link(rel='stylesheet', href='/stylesheets/angular-material.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/core.css')
    link(rel='stylesheet', href='/stylesheets/material-cards.css')
    link(rel='stylesheet', href='/stylesheets/960.css')
  body
    .container
        .main-content(ui-view)
    footer
      p Talk is 
        b CHEAP
        span , Show me the 
        b CODE 
        i 'Linux Torvalds' 
        br
        span @if07012
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/angular.min.js")
    script(src="/scripts/toastr.min.js")
    script(src="/scripts/angular-animate.min.js")
    script(src="/scripts/angular-material.min.js")
    
    script(src="/scripts/require.js")
    script(src="/scripts/initialize.js")
    
